{% extends 'base.html' %}


{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1>This is us</h1>
        <p>Test </p>
        <p>
        <a class="btn btn-default btn-lg" role="button" href="">Learn </a>
        </p>
    </div>

</div>

{% endblock %}

{% block content %}
<div class="col-sm-12" style="text-align: center;">
<h1> Thank you for joining!  </h1>
</div>

{% endblock %}
