<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="../../assets/ico/favicon.ico">

<title></title>
<!-- Custom CSS -->
<link href="/static/css/custom.css" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/css/jumbotron.css" rel="stylesheet">


<!-- Just for debugging purposes. Don't actually copy this line! -->
<!--[if lt IE 9]><script src="/static/js/ie8-responsive-file-warning.js"></script><![endif]-->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>

{% include 'navbar.html' %}

{% block jumbotron %}

{% endblock %}

<div class="container">
    {% if messages %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
                {% for message in messages %}
                <p{% if message.tags == "success" %} class="alert alert-success" {% endif %}>{{ message }}</p>
                {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="row">
        {% block content %} {% endblock %}
    </div>

    <hr>

    <footer>
        <p>&copy; Company 2014</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>
